.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #1e2a5a;
  color: white;
  width: 100%;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
